h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    /* list-style: none;
    box-sizing: border-box; */
}

img {
    display: block;
    max-width: 100%;
}

.container {
    /* width: 1128px;    */
    /* max-width: 1128px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    width: 1158px;

}

body {
    font-family: "Roboto", sans-serif ;
    color: #434455 ;
    background-color: #FFFFFF ;
}
button {
    cursor: pointer;
    pointer-events: all;
}
address {
    font-style: normal;
}
ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

a { 
    text-decoration: none;
    color: currentColor;
}

/* ================ HEADER ================= */
.header {
    
    padding-top: 24px;
    padding-bottom: 24px;
    /* padding-left: 156px; */
    border-bottom: 1px solid #e7e9fc

}

.head {}

.body {}



.header-nav { 
    display: flex; 
    align-items: center;   }

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    


}

.header-logo-Studio {
    font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.header-list {
    display: flex; 
    gap: 40px;
}

.header-items {
  

}
a:hover  {
    color: #404bbf;
}
a:focus {
    color: #404bbf;

}
.header-link {
    font-weight: 500;
    font-size: 16px;    
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address {
    
}

.address-list { }

.address-items-mail {
    display: flex;
    gap: 40px;   
    padding: 24px 0;
    display: flex;

}

.address-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
   
}

/* .address-items-mail{} */


.address-items-tel{
    display: flex;
    gap: 40px;
}



.address-tel {

}
.hero {
    background-color:#2e2f42 ;
    padding: 188px 0;
    
    
}

.hero-text {
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* margin-bottom: 48px; */
    max-width: 496px;
    margin: 0 auto ;
    padding-top: 188px;
    padding-bottom: 48px;
}

.hero-btn {
    letter-spacing: 0.04em ;
    font-size: 16px;
    font-weight:500;
    background-color: #4D5AE5;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    
    
}
.hero-btn:hover {
    background-color: #404BBF;
}
.hero-btn:focus {
    background-color: #404BBF;
}
/*--------- 2 section---- */
.skills {
    padding-top: 120px;
    padding-bottom: 120px;
}

.skills-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.skills-paragraf-nw {
    
}

.skills-list {
    display: flex;
    gap: 24px;
}

.skills-items {
    width: calc((100% - 72px) / 4);
}

.skills-txt {
    font-weight: 500;
    font-size: 20px;    
    line-height: 24px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.skills-paragraf {
    font-weight: 400;
    font-size: 16px;    
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    

    
}
.team {
    font-weight: 700;
        font-size: 36px;    
        // line-height: 40px; 
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
        
    
    
    
}

.team-list-div {
    display: flex;

}
.team-list {
    background-color: #FFFFFF
    /* display: flex; */
    gap: 24px;
    width: calc((100% - 72px) / 4);
    display: flex;
    
    
}

.team-items {
    
    background-color: #FFFFFF
    /* width: calc((100% - 72px) / 4); */
    
    
}
.mark-guerrero {
    padding: 32px 0;   
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    margin-right: 24px;
    flex-basis: calc((100% - 72px) / 4);
    

}

.tom-ford{
    padding: 32px 0;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    margin-right: 24px;
    flex-basis: calc((100% - 72px) / 4);
    
}


.camila-garcia{
    padding: 32px 0;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    margin-right: 24px;
    flex-basis: calc((100% - 72px) / 4);
}

.aniel-wilson {
    padding: 32px 0;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    margin-right: 0;
    flex-basis: calc((100% - 72px) / 4);
}
.team-persona{
    /* padding: 32px 0; */
    
}


.team-images {}

.team-persona {    
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    
    }

.team-txt {
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-align: center;
}
.our-portfolio {
    /* padding-top: 120px; */
    padding-bottom: 120px;
    padding: 120px 0 120px 0;

}
.portfolio {
    line-height: 40px;    
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    
    

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    /* width: calc((100% - 48px) / 3); */
}

.portfolio-items-z {
    width: calc((100% - 48px) / 3);
    
    
}
.portfolio-items-x {
    width: calc((100% - 48px) / 3);
}
.portfolio-items-c {
    width: calc((100% - 48px) / 3);
}
.portfolio-items-v {
    width: calc((100% - 48px) / 3);
}
.portfolio-items-b {
    width: calc((100% - 48px) / 3);
}
.portfolio-items-n {
    width: calc((100% - 48px) / 3);
}

.portfolio-images {}

.portfolio-items1{ 
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-items2{ 
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-items3{ 
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-items4{ 
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-items5{ 
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-items6{ 
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {    
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    
}

.portfolio-paragraf {
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-link {
    line-height: 21px;    
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color:#4d5ae5;
}

.footer-paragraf {
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-web {
    line-height: 21px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #f4f4fd;
}
.footer-txt {
    padding-top: 100px;
    padding-bottom: 100px;
}